:root {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #C4B98F;
}

body {
  margin: 0px;
}

/* 
#C8A6A0
#537B58
#2F6050
#C4B98F */

code {
font-family: 'DM Sans', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
monospace;
}

h1{
  margin: 0px;
}

h2 {
margin-top: 4px;
font-size: 1.2rem;
}
.font-bold {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  max-width: 450px;
}

button {
  padding: 15px 10px;
  background-color: white;
  border-radius: 4px;
  max-width: 200px;
  font-size: 1rem;
}

.buttons {
  display: flex;
  padding: 10px;
}

.next {
  display: flex;
  justify-content: flex-end;
}

.length {
  display: flex;
  justify-content: flex-end;
}

ul li a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
 }
 
 ul li a:hover {
  color: #C8A6A0;
 }
 
 ul li a.active {
  color: #C8A6A0;
 }

 ul {
  list-style-type: none;  
 }

 .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #537B58;
  margin: 0px;
 }