:root {
  margin: 0;
  font-family: 'Marcellus', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F1EFE9;
}

body {
  margin: 0px;
}

/* 
#C8A6A0
#537B58
#2F6050
#C4B98F */

code {
font-family: 'Marcellus', serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
monospace;
}

h1{
  margin: 0px;
  color: #97772B;
  font-family: 'Lilita One', sans-serif;
  font-weight: lighter;
}

h2 {
margin-top: 4px;
font-size: 1.2rem;
color: #97772B;
font-family: 'Lilita One', sans-serif;
font-weight: lighter;
}
.font-bold {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  max-width: 580px;
  gap: 10px;
}

button {
  padding: 15px 10px;
  background-color: white;
  border-radius: 4px;
  max-width: 200px;
  font-size: 1rem;
  font-family: 'Marcellus', serif;
}

.buttons {
  display: flex;
  padding: 10px;
}

.next {
  display: flex;
  justify-content: flex-end;
}

.length {
  display: flex;
  justify-content: flex-end;
}

ul li a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
 }
 
 ul li a:hover {
  color: #97772B;
 }
 
 ul li a.active {
  color: #97772B;
 }

 ul {
  list-style-type: none;  
 }

 .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #ddde63;
  margin: 0px;
  align-items: center;
 }

 .navlogo{
  height: 50px;
  margin-top: 5px;
 }

 .home {
  margin-bottom: 30px;
 }

 .form {
  display: flex;
 }

 .label {
  width: 100%;
 }

 select, input {
  padding: 17px 7px;
  margin-right: 10px;
  min-width: 200px;
 }

 .place {
  margin-top: 30px;
 }

 .divider {
  display: flex;
  justify-content: space-between;
 }

 .text-m {
  font-size: 24px;
 }

 .box {
  --size: 50px;
  --p: 25px;
  --R: 55.9px /*sqrt(var(--size)*var(--size) + var(--p)*var(--p))*/;
  
  height: 140px;
  border: 1px solid;
  
  background:
    radial-gradient(var(--R) at 50% calc(var(--size) + var(--p)),#ddde63 100%,#0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100% no-repeat,
    radial-gradient(var(--R) at 50% calc(-1*var(--p)),#0000 99%,#ddde63 100%) 50% var(--size)/calc(4*var(--size)) 100% no-repeat;
}
.box + .box {
  background-repeat: repeat-x;
}
.box.mask {
  -webkit-mask:
    radial-gradient(var(--R) at 50% calc(var(--size) + var(--p)),#ddde63 99%,#0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
    radial-gradient(var(--R) at 50% calc(-1*var(--p)),#0000 99%,#ddde63 101%) 50% var(--size)/calc(4*var(--size)) 100% repeat-x;
  background:linear-gradient(90deg,#ddde63,#ddde63);  
  border: none;
}

.yellow {
  background: #ddde63;
  display: flex;
  justify-content: center;
  margin: -2px;
  padding: 10px;
}

.tips {
  margin-top: 15px;
}

.savedtitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container.saved {
  min-height: 550px;
}

.hometitle {
  margin-bottom: 0px;
}

.flex1 {
  flex: 1 1 0%;
}

.last {
  display: flex;
  justify-content: flex-end;
}

.homelogo {
  display: flex;
  justify-content: center;
}